/* Folding fluid grid
 *  1 column         <  768px
 *  2 columns  768px - 1023px
 *  4 columns 1024px +
 */
ul, ol {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em; }

body, button, input, select, textarea, .slogan {
  font: 400 normal 100%/1.5 "Lato", "Helvetica", "Trebuchet MS", sans-serif; }

html {
  border-top: 0.2em solid #7b8da1; }

body {
  background: url(../images/background.png) 0 0;
  color: #131c26;
  margin: 0 auto;
  padding-top: 1em;
  width: 92%; }
  @media (min-width: 1400px) {
    body {
      font-size: 116.75%;
      max-width: 1440px; } }

.g1 {
  display: block;
  margin: 0 1%;
  position: relative;
  width: 98%; }
  @media (min-width: 768px) {
    .g1 {
      display: inline;
      float: left;
      width: 48%; } }
  @media (min-width: 1024px) {
    .g1 {
      width: 23%; } }

.g2 {
  display: block;
  margin: 0 1%;
  position: relative;
  width: 98%; }
  @media (min-width: 768px) {
    .g2 {
      display: inline;
      float: left;
      width: 48%; } }
  @media (min-width: 1024px) {
    .g2 {
      width: 48%; } }

.g3 {
  display: block;
  margin: 0 1%;
  position: relative;
  width: 98%; }
  @media (min-width: 768px) {
    .g3 {
      display: inline;
      float: left;
      width: 98%; } }
  @media (min-width: 1024px) {
    .g3 {
      width: 73%; } }

.g4 {
  display: block;
  margin: 0 1%;
  position: relative;
  width: 98%; }
  @media (min-width: 768px) {
    .g4 {
      display: inline;
      float: left;
      width: 98%; } }
  @media (min-width: 1024px) {
    .g4 {
      width: 98%; } }

h1, h2, h3, h4, h5, h6, dt {
  color: #3c5775;
  font-family: "Lato", "Helvetica", "Trebuchet MS", sans-serif;
  font-weight: 700; }

header h1, section h1 {
  font-size: 2.2em;
  text-align: center; }
  @media (min-width: 480px) {
    header h1, section h1 {
      font-size: 3em; } }
  @media (min-width: 600px) {
    header h1, section h1 {
      font-size: 3.25em; } }

a {
  color: #6b9bd1; }
  a:active {
    color: #7b8da1; }
  a:hover {
    color: #58756e;
    text-decoration: none; }
  h1 a {
    color: #3c5775; }

ul {
  list-style: circle inside; }

pre, code, kbd, samp {
  font-family: "Menlo", "Consolas", "DejaVu Sans Mono", "Monaco", monospace; }

strong {
  font-weight: 700; }

mark, ins, ::-moz-selection, ::selection {
  background: #58756e; }

nav {
  padding-top: 0.4em;
  text-align: center; }
  nav a {
    display: inline-block;
    font-weight: 700;
    line-height: 1.3em;
    margin: 1em 0;
    padding: 0 5%;
    width: 22%; }
    @media (min-width: 480px) {
      nav a {
        padding: 0 2%;
        width: 28%; } }
  nav p {
    margin-bottom: 0.4em; }

footer {
  padding: 0.4em 0 3em;
  text-align: center; }
  footer p {
    margin-bottom: 0.4em; }

table, th, td {
  border: 0.1em solid #3c5775;
  margin: 0 auto 1.5em; }

tr, th, td {
  padding: 0.2em 1.5em;
  text-align: center; }

.slogan {
  color: #7b8da1;
  font-size: 1.3125em; }
  .slogan strong {
    color: #3c5775; }

.action {
  margin: 2em 0 1.6em;
  text-align: center; }
  @media (min-width: 768px) {
    .action {
      margin-top: 1.5em; } }
  .action a {
    -webkit-box-shadow: 0 0 0.1em 0 #3c5775;
    -moz-box-shadow: 0 0 0.1em 0 #3c5775;
    box-shadow: 0 0 0.1em 0 #3c5775;
    background: #58756e;
    color: #f8f9fa;
    font-size: 1.4em;
    padding: 0.3em 1em 0.34em;
    text-shadow: 0 0 0.6em #3c5775; }
    @media (min-width: 480px) {
      .action a {
        font-size: 2.0em; } }
    @media (min-width: 600px) {
      .action a {
        font-size: 2.2em; } }
    .action a:active {
      -webkit-box-shadow: 0 0 0.1em 0.03em #6b9bd1;
      -moz-box-shadow: 0 0 0.1em 0.03em #6b9bd1;
      box-shadow: 0 0 0.1em 0.03em #6b9bd1;
      text-decoration: none;
      text-shadow: 0 0 0.6em #6b9bd1; }
    .action a:hover {
      text-decoration: none;
      text-shadow: 0 0 0.6em #6b9bd1; }

.areas {
  margin: 0.4em 0 0.2em; }

.key {
  display: inline-block;
  height: 2.4em;
  width: 48%; }

.tag {
  color: #42687b; }

.separator {
  text-align: center; }
  .separator h3 {
    background: url(../images/background.png) 0 0;
    display: inline-block;
    padding: 0 0.6em;
    position: relative; }
  .separator hr {
    background: #7b8da1;
    border: 0;
    height: .14em;
    margin: 0;
    position: relative;
    top: 1.7em;
    /* let javascript fade in the lines */
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear; }

.experience {
  -webkit-box-shadow: 0 0 0.2em 0.1em #3c5775;
  -moz-box-shadow: 0 0 0.2em 0.1em #3c5775;
  box-shadow: 0 0 0.2em 0.1em #3c5775;
  background: #f8f9fa;
  cursor: pointer;
  margin: 0 2% 2em;
  padding: 0.6em;
  width: 92.0%; }
  .experience:hover {
    -webkit-box-shadow: 0 0 0.4em 0.2em #58756e;
    -moz-box-shadow: 0 0 0.4em 0.2em #58756e;
    box-shadow: 0 0 0.4em 0.2em #58756e; }
  @media (min-width: 768px) {
    .experience {
      min-height: 19em; } }
  @media (min-width: 1024px) {
    .experience {
      min-height: 16em; } }
  .experience img {
    -webkit-box-shadow: 0 0 0 0.2em #f8f9fa, 0 0 0.1em 0.2em #7b8da1;
    -moz-box-shadow: 0 0 0 0.2em #f8f9fa, 0 0 0.1em 0.2em #7b8da1;
    box-shadow: 0 0 0 0.2em #f8f9fa, 0 0 0.1em 0.2em #7b8da1;
    display: block;
    margin-bottom: 0.6em; }
  .g4 .experience {
    margin: 0 auto 2em;
    max-width: 846px; }
    .g4 .experience img {
      margin: 0 auto 1em; }
  .experience.viewing {
    opacity: 0.5; }

.details {
  display: none; }
  @media (min-width: 768px) {
    .details {
      margin-bottom: 3.4em; } }

.tags {
  margin-bottom: 0;
  text-align: right; }
  .g1 .tags {
    bottom: 0.9em;
    margin-bottom: 1.5em;
    position: absolute;
    right: 0.1em;
    text-align: left; }

.tag {
  display: inline-block;
  font: normal 2em/1em "HeydingsCommonIconsRegular", sans-serif;
  vertical-align: bottom;
  width: 1em;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'HeydingsCommonIconsRegular';
  src: url("../fonts/heydings_icons-webfont.eot");
  src: url("../fonts/heydings_icons-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/heydings_icons-webfont.woff") format("woff"), url("../fonts/heydings_icons-webfont.ttf") format("truetype"), url("../fonts/heydings_icons-webfont.svg#HeydingsCommonIconsRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
