/* Set custom styles for the style tile
-----------------------------------------------------------------------------*/
h2, h3, p, ul {
  margin-bottom: 8px;
}

p + h3 {
  margin-top: 24px;
}

ul {
  margin-left: 0;
  padding-left: 12px;
  text-indent: -12px;
}

li {
  margin-bottom: 4px;
}

li > ul {
  margin: 4px 0;
}

li:before {
  content: "\00BB \0020";
}

.tile { background: url(http://subtlepatterns.com/patterns/grid_noise.png) 0 0; }

.container {
  background: url(http://subtlepatterns.com/patterns/furley_bg.png) 0 0;
  border: 1px solid #0052a5;
  box-shadow: 0 0 4px 1px #10b6ff;
  margin: 10px auto 20px;
  padding: 20px;
  width: 442px;
}

.tile,
.swatch,
.container img {
  box-shadow: 0 0 0 4px #ffffff, 0 0 4px 4px #696969;
}

.tags span {
  text-transform: lowercase;
}

.line, .period {
  display: inline-block;
}

.line {
  background: #e6f344;
  height: 3px;
  margin-bottom: 12px;
  width: 188px;
}

.period {
  margin: 0 14px;
}

div.swatch-0 { background: #0052a5; }
div.swatch-1 { background: #0b76a5; }
div.swatch-2 { background: #10b6ff; }
div.swatch-3 { background: #a5540b; }
div.swatch-4 { background: #e6f344; }

div.swatch-5 { background: #696969; }
div.swatch-6 { background: #ffffff; }
div.swatch-7 { background: url(http://subtlepatterns.com/patterns/furley_bg.png) 0 0; }
div.swatch-8 { background: url(http://subtlepatterns.com/patterns/grid_noise.png) 0 0; }
div.swatch-9 { background: #ffffff; }

/*
font-family: 'Open Sans Condensed', sans-serif; // 700
font-family: 'Open Sans', sans-serif; // 300, 400, 600, 700
*/

body { font: 300 normal 16px/1.5 "Open Sans"; }
strong { font: 600 normal 16px/1.5 "Open Sans"; }
em { font: 300 italic 16px/1.5 "Open Sans"; }
h1 { font: 700 normal 40px/1.2 "Open Sans Condensed"; }
h2 { font: 700 normal 28px/1.2 "Open Sans Condensed"; }
h3 { font: 700 normal 22px/1.2 "Open Sans Condensed"; }
.tags { font: 300 italic 13px/1.5 "Open Sans"; }
.slogan p { font: 600 italic 18px/1.5 "Open Sans"; }
.period { font: 700 normal 40px/1.2 "Open Sans Condensed"; }

p, li { color: #696969;}
a { color: #10b6ff; }
h1 { color: #0b76a5;}
h2 { color: #0b76a5;}
h3 { color: #0052a5;}
.tags { color: #a5540b; }
.slogan p { color: #0052a5; }
.period { color: #0b76a5; }