/* Set custom styles for the style tile
-----------------------------------------------------------------------------*/
h2, h3 {
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
}

p + h3 {
  margin-top: 24px;
}

ul {
  list-style: disc inside;
  margin-left: 0;
  padding-left: 12px;
  text-indent: -12px;
}

li {
  margin-bottom: 4px;
}

li > ul {
  margin-top: 4px;
}

.tile { background: #f2f1e7; }

.container {
  background: url(http://subtlepatterns.com/patterns/grid_noise.png) 0 0;
  box-shadow: 0 0 4px 1px #83827e;
  margin: 20px auto;
  padding: 20px;
  width: 442px;
}

.tile,
.swatch,
.container img {
  box-shadow: 0 0 0 4px #fff, 0 0 4px 4px #83827e;
}

.period {
  margin-top: 20px;
  text-align: center;
}

.tags {
  margin-bottom: 0;
  text-align: right;
}

div.swatch-0 { background: #f2f1e7; }
div.swatch-1 { background: #27729a; }
div.swatch-2 { background: #2c5a72; }
div.swatch-3 { background: #193a3f; }
div.swatch-4 { background: #83827e; }

div.swatch-5 { background: #0c1a37; }
div.swatch-6 { background: #ffffff; }
div.swatch-7 { background: url(http://subtlepatterns.com/patterns/grid_noise.png) 0 0; }
div.swatch-8 { background: #ffffff; }
div.swatch-9 { background: #ffffff; }

/*
font-family: 'PT Serif', serif; // 400, 700
font-family: 'PT Serif Caption', serif; // 400
font-family: 'PT Sans', sans-serif; // 400, 700
font-family: 'PT Sans Caption', sans-serif; // 400, 700
*/

body { font: 400 normal 16px/1.5 "PT Sans"; }
strong { font: 700 normal 16px/1.5 "PT Sans"; }
em { font: 400 italic 16px/1.5 "PT Sans"; }
h1 { font: 700 normal 40px/1.2 "PT Serif Caption"; }
h2 { font: 400 normal 28px/1.2 "PT Serif Caption"; }
h3 { font: 400 normal 24px/1.2 "PT Serif Caption"; }
.tags { font: 400 normal 12px/1.2 "PT Serif Caption"; }
.period { font: 400 normal 30px/1.2 "PT Serif Caption"; }
.slogan p { font: 700 normal 20px/1.2 "PT Sans Caption"; }

p, li { color: #0c1a37;}
a { color: #27729a; }
h1 { color: #2c5a72;}
h2 { color: #193a3f;}
h3 { color: #193a3f;}
.tags { color: #27729a; }
.period { color: #27729a; }
