/* Define default styles for the style tile, these shouldn't be changed
-----------------------------------------------------------------------------*/
/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 40px auto;
  width: 962px;
}

h4 {
  color: #a1a1a1;
  font: normal 18px/1.2 "Helvetica", sans-serif;
}

header .title {
  float: left;
  padding: 10px;
  width: 800px;
}

.info {
  color: #a1a1a1;
  float: left;
  font-size: 14px;
  padding: 10px;
  text-align: right;
  width: 160px;
}

.info em {
  font: italic 14px/1.5 "Helvetica", sans-serif;
}

.info a {
  color: #a1a1a1;
  font: normal 14px/1.2 "Helvetica", sans-serif;
  border-bottom: none;
  text-decoration: underline;
}

.text, .swatches {
  float: left;
  padding: 10px;
}

.text {
  margin-right: 20px;  
  width: 440px;
}

.swatches {
  width: 500px;
}

.color, .swatch {
  float: left;
  margin: 10px;
}

.color {
  height: 40px;
  width: 40px;
}

.swatch {
  height: 75px;
  width: 75px;
}

h4 {
  margin-top: 10px;
}
